{% extends "base.html" %}

{% block content %}

<br><br>

<!-- <h2>Products for Sale:</h2>
<table class='table table-hover table-bordered container'>
  <thead class="thead-dark">
    <tr>
      <th scope="col">Product ID</th>
      <th scope="col">Product Name</th>
      <th scope="col">Price</th>
    </tr>
  </thead>
  <tbody>
    {% for product in avail_products%}
      <tr>
        <th scope="row">{{product.pid}}</th>
        <td>{{product.name}}</td>
        <td>{{product.price}}</td>
      </tr>
    {% endfor %}
  </tbody>
</table> -->

<!-- <div class="list-group">
  <a href="#" class="list-group-item list-group-item-action active" aria-current="true">
    The current link item
  </a>
  <a href="#" class="list-group-item list-group-item-action">A second link item</a>
  <a href="#" class="list-group-item list-group-item-action">A third link item</a>
  <a href="#" class="list-group-item list-group-item-action">A fourth link item</a>
  <a class="list-group-item list-group-item-action disabled">A disabled link item</a>
</div> -->

<h2>Product Search</h2>
<div class="dropdown" style="display: inline-block;">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown"
    aria-expanded="false">
    Search by category
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
    {% for category in categories%}
    <li><a class="dropdown-item" href="{{ url_for('prodsearch.ProductSearch', category=category) }}">{{category}}</a>
    </li>
    <!-- <li><a class="dropdown-item" href="{{ url_for('prodsearch.ProductSearch', category='drink') }}">Drink</a></li>
    <li><a class="dropdown-item" href="{{ url_for('prodsearch.ProductSearch', category='art') }}">Art</a></li> -->
    {% endfor %}
  </ul>
</div>
<div class="mb-3" style="display: inline-block;">
  <input type="text" class="form-control" id="keyword-search-input" placeholder="Search">
</div>
<div style="display: inline-block;">
  <button id="prod-keyword-search" type="button" class="btn btn-primary" onclick="searchByKeyword()" disabled="true"><i
    class="bi bi-search"></i></button>
</div>


<br><br>
<h3>Products for Sale:</h3>
<div class="album py-5 bg-light">
  <div class="container">
    <div class="row">
      {% for product in avail_products%}
      <div class="col-md-4">
        <div class="card mb-4 box-shadow">
          <img class="card-img-top" src="{{url_for('static', filename='blank.png')}}" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">{{product.name}}</h5>
            <p class="card-text">Price: {{product.price}}</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <a href="{{ url_for('oneproduct.OneProducts', product_number=product.pid) }}"
                  class="btn btn-sm btn-outline-secondary">View</a>
                <!-- <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button> -->
              </div>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>

<br><br>
{% if current_user.is_authenticated %}
<!-- TO FIX: PURCHASES CURRENTLY BROKEN DUE TO NAMING CONVENTIONS -->
<h2>Your recent purchases:</h2>
{#
<table class="table table-hover table-bordered container">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Purchase ID</th>
      <th scope="col">Product Name</th>
      <th scope="col">Price</th>
    </tr>
  </thead>
  <tbody>
    {% for purchase in purchase_history%}
    <tr>
      <th scope="row">{{purchase.id}}</th>
      <td>{{purchase.pid}}</td>
      <td>{{purchase.time_purchased}}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
#}
{% else %}
<p><a href="{{ url_for('users.login') }}">Log in</a> to see your purchase history!</p>
<!-- {% endif %} -->

{% endblock %}

{% block javascript %}
<script>
  // let input = document.querySelector(".input-something");
  // let button = document.querySelector(".button-something");
  // console.log("wtf why isnt this working ")
  // button.disabled = true;
  // input.addEventListener("change", stateHandle);

  // function stateHandle() {
  //   console.log("is this function ever being reached");
  //   if (document.querySelector(".input-something").value === "") {
  //     button.disabled = true;
  //   } else {
  //     button.disabled = false;
  //   }
  // }

  $('#keyword-search-input').on("keyup", action);
  function action() {
    if ($('#keyword-search-input').val().length > 0) {
      $('#prod-keyword-search').prop("disabled", false);
    } else {
      $('#prod-keyword-search').prop("disabled", true);
    }
  }

  function searchByKeyword() {
    let keyword = document.getElementById("keyword-search-input").value;
    console.log('this is the keyword ', keyword);
    window.location.href = "{{ url_for('prodsearch.ProductKeywordSearch', keywords='REPLACE') }}".replace("REPLACE", keyword);
  }
</script>

{% endblock %}