{% extends "base.html" %}

{% block content %}

<br><br>

<h2>{{productname.name}}</h2>
<h3>Product ID: {{productreviewstats.pid}}</h3>
<h3>Average Rating: {{productreviewstats.average}}/5</h3>
<h3># of Reviews: {{productreviewstats.number}}</h3>

<table class='table table-hover table-bordered container'>
  <thead class="thead-dark">
    <tr>
      <th scope="col">User</th>
      <th scope="col">Date</th>
      <th scope="col">Rating</th>
      <th scope="col">Comments</th>
      <th scope="col">Votes</th>
    </tr>
  </thead>
  <tbody>
    {% for review in productreviews%}
      <tr>
        <th scope="row">{{review.uid}}</th>
        <td>{{review.time_reviewed}}</td>
        <td>{{review.rating}}</td>
        <td>{{review.comments}}</td>
        <td>{{review.votes}}
          <!--div x-data="{count: 0}">
            <button @click="count = count+1">up</button>
            <button @click="count- = count-1">down</button>
            <p><strong x-text="count"></strong></p>
          </div-->
          <button type = "button" onclick = "upvote()" id = "up">
            Up
          </button>
          <script>
            function upvote() {
              review.votes = review.votes + 1;
            }
          </script>
          <button type = "button" onclick = "downvote()">
            Down
          </button>
          <script>
            function downvote() {
              review.votes = review.votes - 1;
            }
          </script>
        </td>
      </tr>
    {% endfor %}
  </tbody>
</table>

<div x-data="{count: 0}">
  <button @click="count = count+1">up</button>
  <button @click="count- = count-1">down</button>
  <p><strong x-text="count"></strong></p>
</div>

{% endblock %}
