{% extends "base.html" %}

{% block content %}

<br><br>

<img src="{{productname.image}}" alt="">
<h2>{{productname.name}}</h2>
<h3>Product ID: {{productname.pid}}</h3>
<h3>Average Rating: {{productreviewstats.average}}/5</h3>
<h3># of Reviews: {{productreviewstats.number}}</h3>

{% if current_user.is_authenticated %}
<form action='/addproductreview/product{{productname.pid}}/reviewer{{current_user.uid}}' method="post">
  <input type="submit" name="review_details" class = "btn btn-sm btn-outline-secondary" value="Add Review" />
</form> 
{% endif %}

<form action='/oneproduct/{{productname.pid}}' method="post">
  <input type="submit" name="productreviews" class = "btn btn-sm btn-outline-secondary" value="Back to Product Page" />
</form>

<table class='table table-hover table-bordered table=sort container'>
  <thead class="thead-dark">
    <tr>
      <th scope="col">User</th>
      <th scope="col">Date</th>
      <th scope="col">Rating</th>
      <th scope="col">Comments</th>
      <th scope="col">Votes</th>
    </tr>
  </thead>
  <tbody>
    {% for review in productreviews%}
      <tr>
        <th scope="row">{{review.uid}}</th>
        <td>{{review.time_reviewed}}</td>
        <td>{{review.rating}}</td>
        <td>{{review.comments}}</td>
        <td>{{review.votes}}
          <!--div x-data="{count: 0}">
            <button @click="count = count+1">up</button>
            <button @click="count- = count-1">down</button>
            <p><strong x-text="count"></strong></p>
          </div-->
          <form action='/pr_comments/product{{productname.pid}}/user{{review.uid}}' method="post">
            <input type="submit" name="review_details" class = "btn btn-sm btn-outline-secondary" value="details" />
          </form> 
          {% if current_user.uid == review.uid %}
            <form action='/editproductreview/product{{productname.pid}}/reviewer{{current_user.uid}}' method="post">
              <input type="submit" name="review_details" class = "btn btn-sm btn-outline-secondary" value="Edit" />
            </form> 
          {% endif %}
        </td>
      </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}
