{% extends "base.html" %}

{% block content %}

<br><br>
{% if not products%}
<h2>No results for your search "{{category}}", please try again</h2>

{% else %}
<h2>Search: {{category}}</h2>
<div class="dropdown" style="display: inline-block;">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown"
    aria-expanded="false">
    Sort by...
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
    <!-- <li><a class="dropdown-item" href="#" onclick="sortByPriceLow('products')">Price: Low to High</a></li> -->
    <li><a class="dropdown-item" href="{{ url_for('prodsearch.PriceSort', keywords=category, sortCriteria='high', category_search=category_search) }}">Price: High to Low</a></li>
    <li><a class="dropdown-item" href="{{ url_for('prodsearch.PriceSort', keywords=category, sortCriteria='low', category_search=category_search) }}">Price: Low to High</a></li>
  </ul>
</div>
<div class="album py-5 bg-light">
    <div class="container">
      <div class="row">
        {% for product in products%}
        <div class="col-md-4">
          <div class="card mb-4 box-shadow">
            <img class="card-img-top" src="{{url_for('static', filename='blank.png')}}" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">{{product.name}}</h5>
              <p class="card-text">Price: {{product.price}}</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a href="{{ url_for('oneproduct.OneProducts', product_number=product.pid) }}" class="btn btn-sm btn-outline-secondary" >View</a>
                  <!-- <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button> -->
                  {% if current_user.is_authenticated %}
                
                <form action="{{url_for('users.addToCart',  pid = product.pid, uid = current_user.uid)}}" method="POST"> 
                  <button class="btn btn-sm btn-outline-secondary" type="submit">Add to Cart</button>
                </form> 
                {% endif %}
                </div>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
{% endif %}

{% endblock %}

{% block javascript %}
<script>

  // function sortByPriceLow(products) {
  //   for (i = 0; i < products.length; i++){
  //     console.log("this is product ", product.name);
  //   }
  // }
</script>

{% endblock %}