{% extends "base.html" %}

{% block content %}

<div class="profile">
  <h1>Hello {{current_user.firstname}}!</h1>
  <br></br>
  <h2>Profile</h2>
  <article>
    <h3>User ID: {{current_user.uid}}</h3>
    <h3>Email: {{current_user.email}}</h3>
    <h3>Name: {{current_user.firstname + " " + current_user.lastname}}</h3>
    <h3>Address: {{current_user.address}}</h3>
    <h3>Password: {{current_user.password}}</h3>
    {% if current_user.is_seller() %}
    <a href="{{ url_for('profile.seller') }}" type="button" class="btn btn-light">VISIT SELLER PAGE</a>
    {% else %}
      <h4>Wanna sell your silly little products on line?.</h4>
      <a href="{{ url_for('profile.seller') }}" type="button" class="btn btn-light">BECOME A SELLER</a>
    {% endif %}
</article> 
</div>


{% endblock %}