{% extends "base.html" %}

{% block content %}


<br><br>


<br><br>
{% if current_user.is_authenticated %}
<h2>Your Inventory:</h2>
<table class='table table-hover table-bordered container'>
  <thead class="thead-dark">
    <tr>
      <th scope="col">Product ID</th>
      <th scope="col">Product Name</th>
      <th scope="col">Unit Price</th>
      <th scope="col">In Stock?</th>
      <th scope="col">Quantity Available</th>
    </tr>
  </thead>
  <tbody>
    {% for product in inv %}
      <tr>
        <th scope="row">{{product.pid}}</th>
        <th scope="row">{{product.name}}</th>
        <th scope="row">{{product.price}}</th>
        <th scope="row">{{product.available}}</th>
        <th scope="row">{{product.in_stock}}</th>
      </tr>
    {% endfor %}
  </tbody>
</table>
<a href="{{ url_for('profile.additem') }}" type="button" class="btn btn-light">Add item to inventory</a>
{% else %}
<p><a href="{{ url_for('users.login') }}">Log in</a> to view your seller page!</p>
{% endif %}


{% endblock %}