{% extends "base.html" %}

{% block content %}

<br><br>
<h2>{{sellername.firstname}} {{sellername.lastname}}</h2>
<h3>Seller ID: {{sellername.uid}}</h3>
<h3>Average Rating: {{sellerreviewstats.average}}/5</h3>
<h3># of Reviews: {{sellerreviewstats.number}}</h3>

{% if current_user.is_authenticated %}
<form action='/addsellerreview/seller{{sellername.uid}}/reviewer{{current_user.uid}}' method="post">
  <input type="submit" name="review_details" class="btn btn-sm btn-outline-secondary" value="Add Review" />
</form> 
{% endif %}

<form action='/seller/{{sellername.uid}}' method="post">
  <input type="submit" name="sellerreviews" class="btn btn-sm btn-outline-secondary" value="Back to Seller Page" />
</form>

<table class='table table-hover table-bordered table=sort container'>
  <thead class="thead-dark">
    <tr>
      <th scope="col">User</th>
      <th scope="col">Date</th>
      <th scope="col">Rating</th>
      <th scope="col">Comments</th>
      <th scope="col">Votes</th>
    </tr>
  </thead>
  <tbody>
    {% for review in sellerreviews%}
      <tr>
        <th scope="row">{{review.uid}}</th>
        <td>{{review.time_reviewed}}</td>
        <td>{{review.rating}}</td>
        <td>{{review.comments}}</td>
        <td>{{review.votes}}
          <form action='/sr_comments/seller{{sellername.uid}}/user{{review.uid}}' method="post">
            <input type="submit" name="review_details"class="btn btn-sm btn-outline-secondary"  value="details" />
          </form>
          {% if current_user.uid == review.uid %}
          <form action='/editsellerreview/seller{{sellername.uid}}/reviewer{{review.uid}}' method="post">
            <input type="submit" name="review_details" class = "btn btn-sm btn-outline-secondary" value="Edit" />
          </form> 
          {% endif %} 
        </td>
      </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}
